@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: $primary-dark;
  color: $secondary-text;

  .border__box {
    @include linear-gradient($primary-light, $secondary-highlight, 45deg);
    height: 1px;
    width: 100%;
  }

  .slogan {
    text-align: center;
    padding: 0rem 2rem;
    color: $primary-light;
    background: -webkit-linear-gradient(left, $primary-light, $main-highlight);
    background: -o-linear-gradient(right, $primary-light, $main-highlight);
    background: -moz-linear-gradient(right, $primary-light, $main-highlight);
    background: linear-gradient(to right, $primary-light, $main-highlight);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .footer__flexbox {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 1rem;
    width: 100%;
    @include center;
  }

  .address p:hover,
  .address p:active {
    color: lighten($secondary-text, 20%);
  }

  .social {
    background-color: $primary-dark;
    @include center;
    flex-direction: row;
    width: 100%;
    gap: 10%;
    font-size: 28px;
    padding: 1rem 0rem;
    color: darken($primary-light, 15%);
    transition: all 0.2s ease-in-out;

    & a:hover,
    & a:active {
      color: $secondary-highlight;
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  .legal {
    text-align: center;
    color: darken($secondary-text, 20%);

    &:hover,
    &:active {
      color: $secondary-highlight;
    }
  }

  @media (min-width: $breakpoint-laptop) {
    .footer__flexbox {
      flex-direction: row;
    }
  }
}
