@import "../../styles//variables";

.btn {
  color: $primary-dark;
  background-color: $primary-light;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.btn:hover,
.btn:active {
  color: $primary-light;
  background-color: $primary-dark;
}
