@import "../../styles//variables";
@import "../../styles//mixins";

.btn {
  color: $primary-dark;
  background-color: $primary-light;
  opacity: 0.9;
  height: 3rem;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: $secondary-font;
  cursor: pointer;
  @include rounded(5px);

  &:hover,
  &:active {
    color: $primary-light;
    background-color: $primary-dark;
    border: 1px solid $primary-light;
    opacity: 0.8;
  }
}

.btn__container {
  margin: 24px;
}
