@import "../../styles/variables";

.search__container {
  display: flex;
  flex-direction: column;
  min-width: 25%;
}

.label {
  color: $primary-light;
  padding: 0.2rem;
  text-align: center;
}

.select {
  color: $primary-dark;
  background-color: $primary-light;
  border: none;
  border-radius: 3px;
}

.options {
  background-color: $primary-text;
}
