@import "./variables";
@import "./mixins";
@import "./typography";

form {
  background-color: darken($secondary-highlight, 3%);
  border: none;
  opacity: 0.97;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  padding: 1rem;
  @include center;
  @include rounded(5px);
}

h2 {
  color: $primary-dark;
  text-decoration: underline;
  margin: 10px;
}

h4 {
  margin: 10px 0px;
}

fieldset {
  color: black;
  padding: 1rem;
  border: none;
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: $primary-dark;
}

input {
  border-radius: 3px;
  height: 2rem;
  margin: 0.5rem 0rem;
  background-color: $primary-dark;
  color: $secondary-highlight;
  width: 100%;
  @include rounded(5px);
}

button {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 150px;
  min-height: 2rem;
  box-shadow: 1px 2px $secondary-dark;
  background-color: darken($primary-light, 15%);
  @include rounded(5px);

  &:hover,
  &:active {
    background-color: $primary-dark;
    color: $primary-light;
    box-shadow: none;
  }
}

.exit__btn {
  background-color: darken($main-highlight, 15%);
  margin: 10px 0px;
}

.exit__btn--right {
  background-color: darken($main-highlight, 15%);
  float: right;
}

.terms {
  font-size: 0.8rem;
  margin: 10px 0px;

  .terms__link {
    text-decoration: underline;

    &:hover,
    &:active {
      cursor: pointer;
    }
  }
}

.registered {
  margin: 5px 0px;
}

.errors {
  color: $primary-dark;
}
